*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #999;
}
header #logo{
    width: 70px;
    padding-top:1vh;
}
header #logo img{
    width: 100%;
}
header #ident{
    width: 50vw;
}
header #ident h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}
header #icon-menu{
    width: 80px;
}
header #icon-menu img{
    width: 100%;
}
nav{
    position: absolute;
    margin-top: 10vh;
    width: 100vw;
    background-color: #999;
}
nav ul{
    list-style: none;
}
nav ul li{
    padding: 1vh 0 1vh 0;
    border-bottom: 1px solid black;
}
main{
    width: 100vw;
}
main h2{
    padding-top: 10vh;
}
body{
    background-color: #d3d3d3;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
}
.column {
    float: left;
    width: 33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.column img{ 
    height:40vh;
    width:40vw;
}
@media only screen and (max-width: 600px) {
    .column{
        align-content: center;
        flex-direction: column;
        height:100%;
        width:100%;

    }
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #999;

}